<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xcc.system.mapper.StandardListMapper">

    <resultMap id="standardListMap" type="com.xcc.model.qc.StandardList" autoMapping="true"></resultMap>

    <!--//根据查询条件获取产品标准列表
    List<StandardList> getList(ProductVo vo);-->
    <select id="getList" resultMap="standardListMap">
        SELECT id,standard_class,standard_name,standard_number,standard_year,file_id,remark,version_no,STATUS,create_time,update_time,is_deleted
        FROM standard_list
        <where>
            <if test="vo.standardName != null and vo.standardName != ''">
                AND (standard_name LIKE CONCAT('%',#{vo.standardName},'%') OR standard_number LIKE CONCAT('%',#{vo.standardName},'%'))
            </if>
            <if test="vo.productName != null and vo.productName != ''">
                AND CONCAT('（',standard_class,'）',standard_name,'：',standard_number) IN (
                    SELECT DISTINCT executive_standard
                    FROM product_data
                    WHERE product_name LIKE CONCAT('%',#{vo.productName},'%')
                    AND is_deleted = 0
                    )
            </if>
            <if test="vo.standardClass != null and vo.standardClass != ''">
                AND standard_class = #{vo.standardClass}
            </if>
            AND is_deleted = 0
        </where>
        ORDER BY standard_name
    </select>
    <select id="getClassList" resultType="java.lang.String">
        SELECT DISTINCT standard_class FROM standard_list WHERE is_deleted = 0
    </select>
</mapper>
